/node_modules
/public/hot
/public/storage

/public/files
/public/images
/public/testing
/public/users
/public/zip
/public/git.php
/public/logs
/public/log.php

/public/contracts/files/
/public/avr/files/

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

**/.idea
**/.vscode
**/.DS_Store
**/adminer.php
