/*
* NavSide
*/
.logo-wrap {
    padding-top: 20px;
}
.logo {
    height: 100%!important;
}
.logo:hover {
    background: none!important;
}

.collapsible-body {
    padding: 0!important;
}

.side-nav li>a>i.material-icons {
    margin-right: 10px!important;
}

/*
* NavTop
 */

.header {
    padding-left: 300px;
}

main {
    padding-left: 300px;
}